.board {
    --sqr-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    width: clamp(7rem, 90vw, 15rem);
    height: clamp(7rem, 90vw, 15rem);
    font-size: clamp(1.5rem, 20vw, 3rem);
}

.board-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31%;
    width: 100%;
    gap: 1.5%;
}

.square {
    border: 1px solid var(--text-2_C);
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    width: 31%;
    height: 100%;
    background: var(--bg_C);
    transition:
        all 0.45s ease-in,
        font-size 0s;
    color: transparent;

    &.winner {
        transform: scale(1.1);
        border-radius: 5px;
        border-width: 2px;
        &.player-X {
            background-color: rgb(from var(--primary_C) r g b / 15%);
        }
        &.player-O {
            background-color: rgb(from var(--secondary_C) r g b / 15%);
        }
    }

    &:hover {
        cursor: pointer;
        border-radius: 5px;
        transform: scale(1.2);
    }

    &.hover-X:hover {
        color: rgb(from var(--primary_C) r g b / 30%);
    }

    &.hover-O:hover {
        color: rgb(from var(--secondary_C) r g b / 30%);
    }
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.complete {
    cursor: auto;
    pointer-events: none;
}
