#tic-tac-toe-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 200;
        width: 100%;
        text-align: center;
        text-wrap: nowrap;
    }

    .game-info {
        width: clamp(7rem, 90vw, 15rem);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vw;
        position: relative;

        @media (min-width: 500px) {
            .scoreboard {
                position: absolute;
                top: clamp(-15rem, -90vw, -7rem);
                right: 105%;

                &:nth-child(2n) {
                    left: 105%;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        width: clamp(7rem, 90vw, 15rem);

        button:hover {
            background-color: rgb(from var(--accent_C) r g b / 55%);
        }
    }
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;

    h3 {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid var(--text-2_C);
        padding-bottom: 0.5rem;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    li {
        display: inline-block;
        height: 20px;
        border: 1px solid var(--text_C);
        margin-right: 4px;

        &:nth-child(5n) {
            transform: rotate(300deg);
            -webkit-transform: rotate(300deg);
            -moz-transform: rotate(300deg);
            -o-transform: rotate(300deg);
            height: 30px;
            position: relative;
            left: -15px;
            top: 5px;
            margin-right: 1em;
            margin-top: -10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.player-X {
    color: var(--primary_C);
}

.player-O {
    color: var(--secondary_C);
}
