button {
    color: var(--text_C);
    text-transform: uppercase;
    border: thin solid var(--text-2_C);
    background: transparent;
    padding: 0.25rem 0.5rem;
    &:hover {
        cursor: pointer;
    }
}
